<!doctype html>

<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<title>About us</title>
		<meta charset="utf-8">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="../static/carousel.css" rel="stylesheet">
	</head>
	<body>
		<!--Load Header html file -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Writer Blocks</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li><a href="/books">Books</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/publishers">Publishers</a></li>
            <li><a href="/about">About</a></li>            
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
            <span class="input-group-btn">
              <button type="reset" class="btn btn-default">
                <span class="glyphicon glyphicon-remove">
                  <span class="sr-only">Close</span>
                </span>
              </button>
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search">
                  <span class="sr-only">Search</span>
                </span>
              </button>
            
            </span>
          </div>
        </form>  
            </ul>
        </div>
        </div>
    </nav>

		<div class="row placeholders" style="padding-top:70px;padding-left:100px">
			<div class="col-md-6 placeholder">
             	<img src="https://c1.staticflickr.com/6/5695/20389869424_a0d3d5b00d_k.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Yipu Wang</h4>
             	<span class="text-muted">Senior. Favorite Book: Crime and Punishment</span>
                <br/>
                <span class="text-muted">Commits: 21</span>
                <br/>
                <span class="text-muted">Issues: 3</span>
                <br/>
                <span class="text-muted">Tests: all of them</span>

            </div>
            <div class="col-md-6 placeholder">
             	<img src="http://i.imgur.com/QcepFhL.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Jake Miller</h4>
             	<span class="text-muted">Senior graduates in December, my favorite book is Extreme Programming</span>
                <br/>
                <span class="text-muted">Commits: 6</span>
                <br/>
                <span class="text-muted">Issues: 1</span>
                <br/>
                <span class="text-muted">Tests: 0</span>

            </div>
        </div>
        <div class="row placeholders" style="padding-top:70px;padding-left:100px">
            <div class="col-md-6 placeholder">
             	<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13177279_10209609480378887_97477706771664304_n.jpg?oh=d32ce98673832750bde196de3644d588&oe=5804512A" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Kevin Hwang</h4>
             	<span class="text-muted">Senior. Favorite Book: Harry Potter, obviously.</span>
                <br/>
                <span class="text-muted">Commits: 3</span>
                <br/>
                <span class="text-muted">Issues: 1</span>
                <br/>
                <span class="text-muted">Tests: 0</span>
            </div>
            <div class="col-md-6 placeholder">
             	<img src="http://i.imgur.com/awmPIC7.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Billy Do</h4>
             	<span class="text-muted">Senior. Graudated in Spring 2017. Favorite Book: Scott Pilgrim vs. The Universe</span>
                <br/>
                <span class="text-muted">Commits: 21</span>
                <br/>
                <span class="text-muted">Issues: 4</span>
                <br/>
                <span class="text-muted">Tests: 0</span>
            </div>
        </div>
        <div class="row placeholders" style="padding-top:70px;padding-left:100px">
            <div class="col-md-6 placeholder">
             	<img src="http://i.imgur.com/rSm0VyH.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Justin Smith</h4>
             	<span class="text-muted">Something else</span>
                <br/>
                <span class="text-muted">Commits: 7</span>
                <br/>
                <span class="text-muted">Issues: 8</span>
                <br/>
                <span class="text-muted">Tests: 0</span>
            </div>
            <div class="col-md-6 placeholder">
             	<img src="http://i.imgur.com/t40XXbJ.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             	<h4>Julio Mendez</h4>
             	<span class="text-muted">Senior. Graduated in Summer 2016. Favorite Book: lol I don't read books.</span>
                <br/>
                <span class="text-muted">Commits: 8</span>
                <br/>
                <span class="text-muted">Issues: 14</span>
                <br/>
                <span class="text-muted">Tests: 0</span>
            </div>
		</div>
        <div class="row">
            <br/>
            <br/>
        </div>
         <div id="space" class="row panel-body text-center">
            <div class="col-md-4 center-block">
                <h4>Tools Used</h4>
                <p>Bootstrap</p>
                <p>Flask</p>
                <p>Git</p>
                <p>Travis-CI</p>
                <p>SQLAlchemy</p>
                <p>Apiary</p>
                <p>DataTables</p>
            </div>
            <div class="col-md-4 center-block">
                <h4>Stats</h4>
                <p><b># Commits: </b>61</p>
                <p><b># Issues: </b>31</p>
                <p><b># Unit Tests: </b>17</p>
                <button id="test-button"><p>Run Tests</p></button>
                <script>
                    document.getElementById("test-button").onclick = function () {
                        var req = new XMLHttpRequest();
                        var url = "api/run_tests";
                        req.onreadystatechange = function() {
                                if (req.readyState == 4 && req.status == 200) {
                                    alert(req.responseText);
                                }
                        };
                        req.open("GET", url, true);
                        req.send();
                    };
                </script>
            </div>
            <div class="col-md-4 center-block">
                <h4>Links</h4>
                <a href="http://docs.writerblocks.apiary.io">
                   <p>Apiary API</p>
                </a>
                <a href="https://github.com/cs373-4/cs373-idb/issues">
                    <p>Github Issue Tracker</p>
                </a>
                <a href="https://github.com/cs373-4/cs373-idb">
                    <p>Github Repo</p>
                </a>
                <a href="https://github.com/cs373-4/cs373-idb/wiki">
                    <p>Github Wiki</p>
                </a>

            </div>
    </div>

	</body>
</html>
