<!doctype html>

<html>
	<head>
		<title>Author Page - Harper Lee</title>
		<meta charset="utf-8">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>
		<div class="row marketing" style="padding-top:70px">
			<div class="col-lg-3"></div>
			<div class="col-lg-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/HarperLee_2007Nov05.jpg" width="350px" height="350px" alt="Harper Lee Picture">
			</div>
			<div class="col-lg-3">
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<td>Harper Lee</td>
					</tr>
					<tr>
						<th>Date of Birth</th>
						<td>April 28, 1926</td>
					</tr>
					<tr>
						<th>Occupation</th>
						<td>Novelist</td>
					</tr>
					<tr>
						<th>Nationality</th>
						<td>American</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-3"></div>
		</div>
		<div class="container" style="padding-top:50px">
			<table class="table table-striped">
				<tr>
					<th>Title</th>
				</tr>
				<tr>
					<td>To Kill a Mockingbird</td>
				</tr>
				</table>
		</div>

		<script src="static/bootstrap.min.js"></script>
	</body>
</html>