<!doctype html>

<html>
	<head>
		<title>1984</title>
		<meta charset="utf-8">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>
        <div class="row placeholders" style="padding-top:100px;padding-left:50px">
            <div class="col-md-6 placeholder">
                <img src="https://suicidenation.files.wordpress.com/2009/12/1984-book.jpg" width="300" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>1984</h4>
                <span class="text-muted">By: George Orwell</span>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Book Title:</th>
                        <td>1984</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>George Orwell</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>English</td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>Dystopian Novel</td>
                    </tr>
                    <tr>
                        <th>Published:</th>
                        <td>June 8th, 1949</td>
                    </tr>
                    <tr>
                        <th>Pages:</th>
                        <td>267</td>
                    </tr>
                    <tr>
                        <th>ISBN:</th>
                        <td>978-0-547-24964-3</th>
                </table>
            </div>
                
            <div class="row">
                <br/>
                <br/>
            </div>

            <div class="container" style="padding-top:50px">
                <table class="table table-striped">
                    <tr>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>A man loses his identity while living under a repressive regime. In a story based on George Orwell's classic novel, Winston Smith is a government employee whose job involves the rewriting of history in a manner that casts his fictional country's leaders in a charitable light. His trysts with Julia provide his only measure of enjoyment, but lawmakers frown on the relationship -- and in this closely monitored society, there is no escape from Big Brother.</td>
                    </tr>
                </table>
            </div>
        </div>
	</body>
</html>