<!doctype html>

<html>
	<head>
		<title>Fahrenheit 451</title>
		<meta charset="utf-8">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>
        <div class="row placeholders" style="padding-top:100px;padding-left:50px">
            <div class="col-md-6 placeholder">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41Cx8mY2UNL._SX324_BO1,204,203,200_.jpg" width="300" height="400" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Fahrenheit 451</h4>
                <span class="text-muted">By: Ray Bradbury</span>
            </div>

            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Book Title:</th>
                        <td>Fahrenheit 451</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>Ray Bradbury</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>English</td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>Dystopian Novel</td>
                    </tr>
                    <tr>
                        <th>Published:</th>
                        <td>1953</td>
                    </tr>
                    <tr>
                        <th>Pages:</th>
                        <td>159</td>
                    </tr>
                    <tr>
                        <th>ISBN:</th>
                        <td>978-0-7432-4722-1</th>
                </table>
            </div>
                
            <div class="row">
                <br/>
                <br/>
            </div>

            <div class="container" style="padding-top:50px">
                <table class="table table-striped">
                    <tr>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Set in the 24th century, Fahrenheit 451 tells the story of the protagonist, Guy Montag. At first, Montag takes pleasure in his profession as a fireman, burning illegally owned books and the homes of their owners. However, Montag soon begins to question the value of his profession and, in turn, his life. Throughout the novel Montag struggles with his existence, eventually fleeing his oppressive, censored society and joining an underground network of intellectuals. With his newfound friends, Montag witnesses the atomic destruction if his former city and dedicates himself to rebuilding a literate and cultural society.</td>
                    </tr>
                </table>
            </div>
        </div>
	</body>
</html>