<!doctype html>

<html>
	<head>
		<title>To Kill a Mockingbird</title>
		<meta charset="utf-8">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>
        <div class="row placeholders" style="padding-top:100px;padding-left:50px">
            <div class="col-md-6 placeholder">
                <img src="https://upload.wikimedia.org/wikipedia/en/7/79/To_Kill_a_Mockingbird.JPG" width="300" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>To Kill A Mockingbird</h4>
                <span class="text-muted">By: Harper Lee</span>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Book Title:</th>
                        <td>To Kill A Mockingbird </td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td> Harper Lee</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>English</td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>Novel</td>
                    </tr>
                    <tr>
                        <th>Published:</th>
                        <td>July 11, 1960</td>
                    </tr>
                    <tr>
                        <th>Pages:</th>
                        <td>281</td>
                    </tr>
                    <tr>
                        <th>ISBN:</th>
                        <td>978-3-125-78860-2</th>
                </table>
            </div>
                
            <div class="row">
                <br/>
                <br/>
            </div>

            <div class="container" style="padding-top:50px">
                <table class="table table-striped">
                    <tr>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Scout Finch, 6,and her older brother, Jem, live in sleepy Maycomb, Ala., spending much of their time with their friend Dill and spying on their reclusive and mysterious neighbor, Boo Radley. When Atticus, their widowed father and a respected lawyer, defends a black man named Tom Robinson against fabricated rape charges, the trial and tangent events expose the children to evils of racism and stereotyping.</td>
                    </tr>
                </table>
            </div>
        </div>
	</body>
</html>