<!doctype html>

<html>
	<head>
	<title>Writer Blocks Home Page</title>
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>

		<div class="row marketing">
			<div class="col-lg-3"></div>
			<div class="col-lg-4">
				<img src="https://pbs.twimg.com/profile_images/466141321564938240/AH6lfGk1.png" width="350px" height="350px" alt="Publisher Logo">
			</div>
			<div class="col-lg-3">
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<td>Vintage</td>
					</tr>
					<tr>
						<th>Founder(s)</th>
						<td>Alfred A. Knopf, Sr.<td>
					</tr>
					<tr>
						<th>Year Founded</th>
						<td>1954<td>
					</tr>
					<tr>
						<th>Country</th>
						<td>United States<td>
					</tr>
					<tr>
						<th>Status</th>
						<td>Active<td>
					</tr>
				</table>
			</div>
			<div class="col-lg-3"></div>
		</div>


		<script src="static/bootstrap.min.js"></script>
	</body>
</html>