<!doctype html>

<html>
	<head>
	<title>Series Page</title>
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>

		<div class="row marketing">
			<div class="pics_category">
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg" alt="Series Logo 1" width="300px" height="500px">
				</div>
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/J._K._Rowling_2010.jpg" width="300px" height="500px" alt="Series Logo 2">
				</div>
			</div>
		</div>
		<div class="container" style="padding-top:10px">
			<table class="table table-striped">
					<tr>
						<th>Series Title</th>
						<td>Harry Potter</td>
					</tr>
					<tr>
						<th>Author</th>
						<td>J.K. Rowling</td>
					</tr>
					<tr>
						<th>Genre</th>
						<td>Young-Adult Fiction</td>
					</tr>
					<tr>
						<th>Number of Books</th>
						<td>7</td>
					</tr>
					<tr>
						<th>Publisher</th>
						<td>bloomsbury Publishing</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>Finished</td>
					</tr>
				</table>
		</div>


		<script src="static/bootstrap.min.js"></script>
	</body>
</html>