<!doctype html>

<html>
	<head>
	<title>Series Page</title>
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>

		<div class="row marketing">
			<div class="pics_container">
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/en/d/dc/A_Song_of_Ice_and_Fire_book_collection_box_set_cover.jpg" alt="Series Logo 1" width="300px" height="500px">
				</div>
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/George_R.R._Martin_at_Archipelacon.jpg" width="300px" height="500px" alt="Series Logo 2">
				</div>
			</div>
		</div>
		<div class="container" style="padding-top:10px">
			<table class="table table-striped">
					<tr>
						<th>Series Title</th>
						<td>A Song of Ice and Fire</td>
					</tr>
					<tr>
						<th>Author</th>
						<td>George R.R. Martin</td>
					</tr>
					<tr>
						<th>Genre</th>
						<td>Fantasy</td>
					</tr>
					<tr>
						<th>Number of Books</th>
						<td>5</td>
					</tr>
					<tr>
						<th>Publisher</th>
						<td>Bantam Books</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>Incomplete</td>
					</tr>
				</table>
		</div>


		<script src="static/bootstrap.min.js"></script>
	</body>
</html>