<!doctype html>

<html>
	<head>
	<title>Series Page</title>
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="../static/carousel.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/app.js"></script>
	</head>
	<body>
		<div id="navagation"></div>

		<div class="row marketing">
			<div class="pics_container">
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/en/e/e9/First_Single_Volume_Edition_of_The_Lord_of_the_Rings.gif" alt="Series Logo 1" height="500px" width="300px">
				</div>
				<div class="picture">
					<img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Tolkien_1916.jpg" alt="Series Logo 2" height="500px" width="300px">
				</div>
			</div>
		</div>
		<div class="container" style="padding-top:10px">
			<table class="table table-striped">
					<tr>
						<th>Series Title</th>
						<td>The Lord of the Rings</td>
					</tr>
					<tr>
						<th>Author</th>
						<td>J.R.R. Tolkien</td>
					</tr>
					<tr>
						<th>Genre</th>
						<td>Fantasy</td>
					</tr>
					<tr>
						<th>Number of Books</th>
						<td>3</td>
					</tr>
					<tr>
						<th>Publisher</th>
						<td>George Allen & Unwin</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>Finished</td>
					</tr>
				</table>
		</div>


		<script src="static/bootstrap.min.js"></script>
	</body>
</html>